# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build files
dist/
out/
*.tsbuildinfo

# Editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
